/*
   CSS Document
   Index
   Design par Olivier R.
*/

* { margin: 0; padding: 0; }
img { border: none; }

body {
    background: #202030;
	font: normal 14px "Trebuchet MS", "Liberation Sans", sans-serif;
	color: #D0D0E0;
}
.mainflow {
    width: 900px;
    margin: 0 auto 0 auto;
}

a:link, a:visited {
    color: #C0C0D0;
	text-decoration: none;
}
a:hover, a:active {
    color: #E0E0F0;
    text-shadow: 0px 0px 3px #FFFFFF;
}

/* GENERIC =================================================================== */
.fleft {
    float: left;
}
.fright {
    float: right;
}
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.clearer { clear: both; font-size: 0; height: 0; }


/* MAIN ====================================================================== */
#main {
    padding: 20px 0 20px 0;
}

#main h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 70px;
    text-shadow: 0px 0px 2px #EEEEEE;
}
#main p {
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.project {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 10px 0 0 0;
    font-size: 20px;
    text-shadow: 0px 0px 1px #EEEEEE;
}

